<header >
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      
      <a class="navbar-brand" href="/"> <img src="https://pa1.narvii.com/6212/3f97bf5294b0f2392aec2dd6bb2d00b2881fb766_hq.gif" width="160" height="64.5" class="d-inline-block align-top rounded-circle" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link bienvenido" href="#"> </a>
          </li>
          <input type="button" value="Mis Reseñas" onclick="document.location.href='http://localhost:3000/logIn'" />
        </ul>
  
        
  
        <form class="form-inline my-2 my-lg-0 d-flex justify-content-center" method="get"  action="/buscar/peliculas"  >
          <input class="form-control mr-sm-2" name="buscador" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">peliculas</button>
        </form> 
        
        <form class="form-inline my-2 my-lg-0 d-flex justify-content-center" method="get"  action="/buscar/usuarios"  >
          <input class="form-control mr-sm-2" name="usuarios" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">usuarios</button>
        </form> 
        
  
        <ul class="navbar-nav ml-auto">

          

          <input type="button" value="Registrate" onclick="document.location.href='http://localhost:3000/registracion'" />
  
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Géneros
            </a>
            <div class="dropdown-menu listaGeneros" id="generos" aria-labelledby="navbarDropdown listadoGeneros">
  
              <div class="dropdown-divider"></div>
  
            </div>
          </li>

        </ul>
      </div>
    </nav>
  </header>