<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del usuario men</title>
</head>
<body>
    
<h1>Estas viendo la informacion privada del usuario <%= usuario.nombre_usuario %></h1>



</body>
</html>