<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas ilegales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/editResena.css">
    <link rel="stylesheet" href="/uikit-3.1.5/css/uikit.min.css" />
</head>
<body>

    <!-- empieza el header -->

<%- include('./partials/header.ejs') %>

<!-- termina el header -->


    <!-- login -->

    <h2>Editar tu resena:</h2> 
    <form action="/resena/:id" method="post">

        <label>Email:</label>
        <input type="email" placeholder="mimail@mail.com" name="email" required="required">
        <br>
    
        <label>Contrasena:</label>
        <input type="text" placeholder="password123" name="password">
        <br>

        <label>Resena:</label>
        <input type="text" placeholder="Tremenda pelicula!" name="texto_reseno">
        <br>

        <label>Puntaje:</label>
        <input type="integer" name="puntaje">
        <br>

        <br><br>
        <button type="submit" value="submit" name="submit">Guardar</button>
        <!-- como hago para que cuando apreto guardar, se ejecuta el update de controller? -->

    </form> 


<!-- footer y links a js -->

<%- include('./partials/footer.ejs') %>
<script type="text/javascript" src="/js/editResena.js"></script>


</body>
</html>