<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="topnav">
      <a class="active" href="index.html"> Home - Trending </a>
      <a href="indexRandom.html"> Random </a>

      <form class="form" action="resultados.html" method="get">
        <input class="buscador" type="text" name="buscador" value="">
        <input type="submit" name="" value="Buscar">
      </form>
  </div>

    <script type="text/javascript" src="appHome.js">

    </script>
  </body>
</html>
