<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas ilegales</title>
    <!-- no sacar -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/listadoGenero.css">
    <link rel="stylesheet" href="/uikit-3.1.5/css/uikit.min.css" />
  </head>
  <body>

<!-- empieza el header -->

<%- include('./partials/header.ejs') %>

<!-- termina el header -->


<!-- el resto del body va aca -->


<div class="container-fluid">

<div class="row">

    <div class="text-white col-md-12 columnas">
      <br><br>
      <h1 class="text-white idGenero"></h1> <br>
      <div class="row genero">
      </div>
    </div>


</div>
</div>
<br>

<!-- footer y links a js -->

<%- include('./partials/footer.ejs') %>

<%- include('./partials/links.ejs') %>

  </body>
</html>

