<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/logIn.css">
    <link rel="stylesheet" href="/uikit-3.1.5/css/uikit.min.css" />
</head>
<body>
    <!-- empieza el header -->

<%- include('./partials/header.ejs') %>

<!-- termina el header -->



    <form method="POST" action="/misResenas" id="logIn">
      
          
        <div class="container">
          <h1 class="titulo">Log In</h1>
          <hr>
          <label for="username">Usuario:</label>
          <input type="text" placeholder="Ingresar nombre de usuario" name="username" required="required">
          <br>

          <label for="email">Email:</label><br>
          <input type="email"  placeholder="Ingresar email" name="email" required="required">
          <br>
      
          <label for="psw">Contraseña:</label>
          <input type="password" placeholder="Ingresar contraseña" name="password">
          <br>
                
          <br>
    
          <button type="submit"  name="button">Ir a tus reseñas</button>

          
        </div>
    
      </form>


    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/links.ejs') %>

</body>
</html>