<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/uikit-3.1.5/css/uikit.min.css" />
</head>
<body>
    <!-- empieza el header -->

<%- include('./partials/header.ejs') %>

<!-- termina el header -->

   <b><h1>LOGIN</h1></b> 
   <!-- above? -->
    
    <form action="/misResenas">
        <div class="container">

          <label>Nombre Usuario:</label>
          <input type="text" placeholder="John Doe" name="username" required="required">
          <br>

          <label>Email:</label>
          <input type="email" placeholder="mimail@mail.com" name="email" required="required">
          <br>
      
          <label>Contrasena:</label>
          <input type="password" placeholder="password123" name="password">
          <br>
                
          <br><br>
    
          <button type="submit" class="registerbtn">Ir a tus reseñas</button>
                <!--  ya tengo redirect en usersController -- cuenta?-->
                <!-- cambiar class? -->
          
        </div>
    
      </form>


    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/links.ejs') %>

</body>
</html>