<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis reseñas</title>
</head>
<body>

    <!-- empieza el header -->

<%- include('./partials/header.ejs') %>

<!-- termina el header -->


    <!-- login -->

    <!-- aca va el rating, etc.  -->
    <!-- titulo, rating, texto, fecha, etc. -->





<!-- footer y links a js -->

<%- include('./partials/footer.ejs') %>

<%- include('./partials/links.ejs') %>

</body>
</html>