<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- no sacar -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/resultadoBusqueda.css">
    <link rel="stylesheet" href="/uikit-3.1.5/css/uikit.min.css" />
  </head>
  <body>



<!-- empieza el header -->

<%- include('./partials/header.ejs') %>

<!-- termina el header -->


<div class="container-fluid" >

<div class="row">

    <div class="col-md-12 columna">
      <br>
      <br>
      <h1 class="busqueda text-white"> </h1> <br><br>
      <div class="row resultados">
      </div>
    </div>


</div>
</div>



<!-- footer y links a js -->

<%- include('./partials/footer.ejs') %>

<%- include('./partials/links.ejs') %>
  
  
    </body>
  </html>
