<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola</h1>
  



<% if(resultado.length > 0 ) { %>

    <% for (let i = 0; i < resultado.length; i++) { %>
        <li>
            <%= resultado[i].nombre_usuario %>
        </li>
    <% } %>

<% } else { %> 

    <p>No tengo resultados logicos man</p> 

<% } %>


</body>
</html>