<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Estos son tus resultados man</h1>
<% if(resultado.length > 0 ) { %>
    
    <% for (let i = 0; i < resultado.length; i++) { %>

            <h3>Nombre de usuario: <a href="usuarios/detalle/<%= resultado[i].id %>"><%= resultado[i].nombre_usuario %></a></h3>
            <h4>Email: <%= resultado[i].email %></h4> 
            <hr>

    <% } %>

<% } else { %> 

    <p>No tengo resultados logicos man</p> 

<% } %>


</body>
</html>