*{box-sizing: border-box}

#header{
  background-color: #000d1e !important;
}

.uk-notification{
  z-index: 2000 !important;
}


body{
  padding-top: 7%;
  background-color: #000d1e;
}

div.columna {
  background-color: #00173a ;
}


#footer{
    background-color: #000d1e !important;
}

#logoFooter{
  width: 20%;
  height: auto;
}

#peliFav{
  margin-left: 77%;
}

#paraSacarMargen{
  margin-top: 0% !important;
}

.contenedor{
  margin: 0 auto;
}

.white {
  color: white;
}