*{box-sizing: border-box}

.uk-notification{
  z-index: 2000 !important;
}

#header{
  background-color: #000d1e !important;
}

body{
  padding-top: 10%;
  background-color: #000d1e;
}

div.columnas {
  background-color: #00173a ;
}

.here{
  padding-bottom: 15%;
}

#footer{
    background-color: #000d1e !important;
}

#logoFooter{
  width: 20%;
  height: auto;
}

#paraSacarMargen{
  margin-top: 0% !important;
}

.contenedor{
  margin: 0 auto;
}


#cajitaFeliz {
    color: white;
    width: 90%;
    padding: 15px;
    margin: 0% 5% 0% 5%;
    display: inline-block;
    border: none;
    background: #00173a;
}

.white{
    color: white;
}