*{box-sizing: border-box}

.uk-notification{
  z-index: 2000 !important;
}

#header{
  background-color: #000d1e !important;
}

body{
  padding-top: 80px;
  background-color: #000d1e;
}

div.columnas {
  background-color: #00173a ;
}


#footer{
    background-color: #000d1e !important;
}

#logoFooter{
  width: 20%;
  height: auto;
}

#paraSacarMargen{
  margin-top: 0% !important;
}

.contenedor{
  margin: 0 auto;
}
