*{box-sizing: border-box}

.uk-notification{
  z-index: 2000 !important;
}




/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=email]  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email] {
  background-color: #ddd;
  outline: none;
  ;
}



#header{
  background-color: #000d1e !important;
}

body{
  padding-top: 10%;
  background-color: #000d1e;
  height: 200%;
  color: white;
  
}

div.columnas {
  background-color: #00173a ;
}


#footer{
    background-color: #000d1e !important;
}

#logoFooter{
  width: 20%;
  height: auto;
}

#paraSacarMargen{
  margin-top: 0% !important;
}

.contenedor{
  margin: 0 auto;
}

#logIn{
    color: white;
    background-color: #00173a ;
    
}

.titulo{
    color:white;
}
