* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  ;
}


/* Set a style for the submit/register button */


*{box-sizing: border-box}

.uk-notification{
  z-index: 2000 !important;
}

#header{
  background-color: #000d1e !important;
}


body{
  padding-top: 10%;
  background-color: #000d1e;
  color:white;
  
}

#formularioRegistracion {
  background-color: #00173a ;
  color:white;
}

#titulo{
  color:white;
}


#footer{
    background-color: #000d1e !important;
}

#logoFooter{
  width: 20%;
  height: auto;
}



.contenedor{
  margin: 0 auto;
}

